
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255,2555, 0.75);
    padding: 0 0 0 1.2em;
    -webkit-box-shadow: 10px 10px 19px 0px rgba(227,220,227,1);
    -moz-box-shadow: 10px 10px 19px 0px rgba(227,220,227,1);
    box-shadow: 10px 10px 19px 0px rgba(227,220,227,1);
}

nav ul{
    list-style-type: none;
    margin: 1.2em auto;
    padding: 0;
}

nav li{
    display:inline-block;
    font-size: 0.9em;
    padding: 0 1em;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: #272727
}

#container{
 margin: 75px auto 10px auto;
 width: 80%;
}
   
header h1{
    font-family:'Poiret One', cursive;
    font-size: 4em;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 0;
    font-weight: lighter;
}
 h2{
     font-family: "Lora", serif;
     font-size: 1em;
     font-weight: lighter;
     margin-bottom: 2em;
 }

 img{
     width: 100%;
     height: auto;
 }

 #main-image{
     position: relative;
 }

 .main-image-content{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }
